{% extends 'HR/basic_dashboard.html'%}
{% block image %}{{image}}{% endblock %}
{% block username %}{{firstname}}{% endblock %}
{% block performance %} background-color: #D5D9DB; {% endblock %}
{% block body %}
<div class="content">
  {% for message in messages%}
  
    <div class="alertContainer" style="margin-inline: 28px;">
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>  
      </div>
  {% endfor %}
  {% for t in task_data%}
   
      <div class="card">
        <div class="card-header" style="background-color: #5C7985; color: #fff;">
          <div class="text-header">Evaluate</div>
        </div>
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <label class="label">User Name</label>
                  <select class="form-select form-select-sm mb-1" name="username" style="width: 100%; height: 45px;">
                    <option selected>{{t.user_name}}</option>
                    <input type="hidden" value="{{t.task_id}}" name="taskid"/>
                  </select>
                  </div>          
                </div>
                <div class="form-group">
                  <div class="input-group" style="display: flex; flex-direction: column;">
                    <label class="label">Assigned Date Time</label>
                    <input autocomplete="off" name="assigned_time" value="{{t.assigned_time}}" class="input" type="text"
                    style="  border: 1px solid #ccc;
                    ">                </div>
                    </div>
                
                </div>
                <div class="form-group" style="margin-top: -5px;">
                  <label for="exampleFormControlTextarea1">Task</label>
                  <input type="text" class="input" name="task" value="{{t.task}}" id="exampleFormControlTextarea1" rows="1"/>
                </div>
            <div class="form-group" style="margin-top: -5px;">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">{{t.description}}</textarea>
            </div>
            <div style="display: grid; grid-template-columns: 2fr 1fr; column-gap: 10px;">

              <div class="form-group" style="margin-top: -5px;">
                <label for="exampleFormControlTextarea1">Employee Feedback</label>
                <input type="text" class="input" name="task" value="{{t.employee_feedback}}" />
              </div>
              <div class="form-group" style="margin-top: -5px;">
                <label for="exampleFormControlTextarea1">Employee Status</label>
                {% if t.employee_status == 'Running'%}
                <div  style="border-radius: 5px; background-color: #00435f; height: 38px; text-align: center; color: #fff; padding-top: 5px;">{{t.employee_status}}</div>
                {% elif t.employee_status == 'Waiting'%}
                <div  style="border-radius: 5px; background-color: brown; height: 38px; text-align: center; color: #fff; padding-top: 5px;">{{t.employee_status}}</div>
                {% elif t.employee_status == 'Complete'%}
                <div  style="border-radius: 5px; background-color: green; height: 38px; text-align: center; color: #fff; padding-top: 5px;">{{t.employee_status}}</div>
                {% endif %}
              </div>
            </div>
            <div style="display: grid; grid-template-columns: 2fr 1fr; column-gap: 10px">
            <div class="form-group" style="margin-top: -5px;">
              <label for="exampleFormControlTextarea1">Your Feedback</label>
              <input type="text" class="input" name="hr_feedback" value="{{t.hr_feedback}}" id="exampleFormControlTextarea1" rows="1"/>
            </div>
            <div class="form-group" style="margin-top: -5px;">
              <label for="exampleFormControlTextarea1">Evaluation</label>
              <select class="form-select form-select-sm" name="hr_status" style="width: 100%; height: 45px;">
                <option selected>{{t.hr_status}}</option>
                <option>Complete</option>
                <option>Change</option>
                <option>Waiting</option>
                <option>In Progress</option>
                </select>
            </div>

            </div>
          
            <div class="row"  style="display: grid; grid-template-columns: 1gr; column-gap: 20px; margin-inline: 1px; margin-bottom: 10px;">
              <input type="submit" value="submit"  style="background-color: #2A3E4C;" name="submit" class="btn btn-primary"/>
            </div>
          </form>


        </div>
      </div>
  {% endfor %}
</div>

{% endblock %}
