<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="../../static/HR/css/submenu.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>{% block css %}{% endblock %}</style>
  </head>
  <body>
    {% load static %}
    {% csrf_token %}
    <div class="headBlock">
      <img src="{%static 'Employee/images/dashboardHead.svg'%}" alt="" />
      <img src="{%static 'Employee/images/dashboardHead.svg'%}" alt="" />
    </div>
    <div class="menu">
      <img class="profilePic" src="../../../media/{% block image %} {% endblock %}" alt="" />
      <p class="userType">Employee</p>
      <p class="userName">{% block username%} {% endblock %}</p>  
      <div class="menuHolder">
        <a href="{% url 'profile' %}" style="text-decoration: none">
          <div
            id="myPerformanc"
            class="menuOptions"
            style="{% block profile %} {% endblock %}"
          >
          <img
          class="menuImage"
          style="width: 27px; height: 27px"
          src="{%static 'Employee/images/user-circle.svg'%}"
          alt=""
        />
            <p class="menuText">Profile</p>
          </div>
        </a>
        <a href="{% url 'projects' %}" style="text-decoration: none">
          <div
            id="Payroll"
            class="menuOptions"
            style="{% block projects %} {% endblock %}"
          >
            <img
              class="menuImage"
              src="{%static 'Employee/images/Salary.svg'%}"
              alt=""
            />
            <p class="menuText">Task</p>
          </div>
        </a>
        <a href="{% url 'query' %}" style="text-decoration: none">
          <div
            id="Recruitment"
            class="menuOptions"
            style="{% block query %} {% endblock %}"
          >
            <img
              class="menuImage"
              style="width: 29px; margin-left: -4px; height: 29px"
              src="{%static 'Employee/images/magnifying-glass-circle.svg'%}"
              alt=""
            />
            <p class="menuText">Query</p>
          </div>
        </a>
        <a href="{% url 'request_leaves' %}" style="text-decoration: none">
          <div
            id="Leaves"
            class="menuOptions"
            style="{% block leavenote %} {% endblock %}"
          >
            <img
              class="menuImage"
              style="width: 24px; height: 24px"
              src="{%static 'Employee/images/Subtract.svg'%} "
              alt=""
            />
            <p class="menuText">Request Leave</p>
          </div>
        </a>
        <a href="{% url 'logout' %}" style="text-decoration: none">
          <div
            id="Add"
            class="menuOptions"
            style="{% block addemployee %} {% endblock %}"
          >
            <img
              class="menuImage"
              style="width: 27px; height: 27px"
              src="{%static 'Employee/images/user-circle.svg'%}"
              alt=""
            />
            <p class="menuText">Log Out</p>
          </div>
        </a>
      </div>
    </div>

    <div class="tabView">
      <div class="tabcontent">
        {% block body %} {% endblock %}
      </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
