body{
  margin: 0;
  overflow-x: hidden;
  background-color: #414141;
  font-family: Poppins,Arial;
}

.headBlock{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100px;
}

img{
  height: 130px;
}


.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-inline:30px;
}

.card-header {
  text-align: center;

}

.input {
  height: 44px;
  background-color: #fff;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  color: #000000;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #000;
}


.card-body {
  padding-top: 16px;
  padding-left:16px;
  padding-right:50px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.btn {
  margin-left: 0px;
  font-size: 16px;
  border: none;
  width: 1020px;
  border-radius: 4px;
  background-color: #989494;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
  color: #333;
}
.grid-row{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}


.menu{
  position: fixed;
  left: 40px;
  top: 40px;
  bottom: 40px;
  width: 340px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.profilePic{
  width: 180px;
  height: 180px;
  border-radius: 100px;
  object-fit: cover;
  box-sizing: border-box;
  border: 4px solid #5C7985;
}
p{
  margin: 0;
}
.userType{
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #849C9B;
}

.userName{
font-style: normal;
font-weight: 500;
font-size: 25px;
color: #2A3E4C;
margin-top: -20px;
}

.menuHolder{
  margin-top: 0px;
}
.menuOptions{
  background-color: white;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  padding-right: 15px;
  transition: border-color .1s;
  
}
.content{
  margin-bottom: 50px;
  
}
.menuText{
  color: #5C7985;
  font-weight: 500;
  align-items: center;
  margin-top: 13px;
}
.menuImage{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(47%) sepia(4%) saturate(2579%) hue-rotate(152deg) brightness(93%) contrast(84%);
}

.menuOptions:hover{
  cursor: pointer;
  background-color: #D5D9DB;
} 
.menuOptions.active{
  cursor: pointer;
  background-color: #D5D9DB;
}
.menuOptions:hover .menuText{
  color: #2A3E4C;
}
.menuOptions:hover .menuImage{
  filter: brightness(0) saturate(100%) invert(22%) sepia(6%) saturate(3265%) hue-rotate(162deg) brightness(87%) contrast(88%);}


.tabView{
  margin-top: 20px;
  margin-left: 380px;
  padding-left: 20px;
  
}


